body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 100;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* SECTION TITLE */

.title {
  text-align: left;
}

.title * {
  font-size: 0.8em;
  color: #0b5689;
}

/* DEFINE JOB */
.jobinfo-container-container {
  margin-left: 1.5em;
}

.jobinfo-container {
  display: flex;
}

.jobinfo-item-label {
  width: 13%;
  text-align: left;
  margin: 5px 0;
  font-weight: lighter;
  color: #797979;
}

.jobinfo-item-input {
  margin: 0.5em;
  border: 1px solid #dddddd;
  text-align: left;
  height: 1.5em;
  width: 12em;
}

.jobinfo-item-select {
  margin: 0.5em;
  border: 1px solid #dddddd;
  text-align: left;
  height: 2em;
  width: 12em;
}

.jobinfo-btn-container {
  display: flex;
  justify-content: flex-end;
}

.jobinfo-btn {
  height: 2em;
  width: 5em;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 10%;
  color: #1684c9;
  font-size: 0.8em;
  font-weight: lighter;
  border: 2px solid #1684c9;
}

/* DEFINE TYPE */
.define-fixtype-container {
  margin-top: -2.5em;
}

.fixture-type-container {
  margin-top: 0.5em;
  border: 1px solid #0b5689;
  border-radius: 3px;
  padding: 0 1em;
  padding-bottom: 1em;
}

.fixtype-compress {
  display: flex;
  justify-content: flex-end;
}

.fixtype-compress-icon {
  color: #1684c9;
  padding-top: 0.9em;
}

.fixtype-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.fixtype-name-container {
  display: flex;
}

.fixtype-name-label {
  margin: 0em 0.2em;
  color: #797979;
  font-weight: lighter;
}

.fixtype-name-input {
  margin: 5px 10px;
  height: 1.5em;
  margin-top: -3px;
}

.fixtype-item-container {
  display: flex;
  flex-direction: column;
  width: 8em;
  margin: 0.2em;
}

.fixtype-item-label {
  text-align: left;
  margin: 5px 0;
  color: #797979;
  font-weight: lighter;
}

.fixtype-item-input {
  margin: 0.5em 0;
  border: 1px solid #dddddd;
  text-align: left;
  background-color: #e6e6e6;
  height: 2em;
}

.partnumber-text {
  text-align: center;
  background-color: #e6e6e6;
  padding: 0.3em;
  width: 30%;
  margin-left: 35%;
  font-weight: normal;
  color: #0b5689;
}

.fixtype-compressed {
  color: #797979;
  font-weight: lighter;
  padding-right: 0.5em;
}

.fixtype-compressed-name {
  color: #0b5689;
  /* font-weight: lighter; */
  padding-right: 0.5em;
}

.fixtype-compressed-container {
  width: 100%;
  height: 2em;
  display: flex;
}

.fixtype-radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
}

.fixtype-radio-input {
  margin-right: 10px;
}

.fixtype-radio-text {
  font-weight: 300;
  color: #797979;
  font-size: 0.9em;
}

/* RUNS */
.channeltbl {
  width: 100%;
  table-layout: fixed;
}

.channeltbl-header {
  background-color: #a7a7a791;
  height: 5vh;
}

.channeltbl-header-cell {
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 0.8em;
  background-color: #e6e6e6;
  color: #797979;
  font-weight: lighter;
}

.channeltbl-body {
  width: 30%;
  height: 4vh;
  border: 1px solid #dddddd;


}

.channeltbl-body-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
}

.channeltbl-totalWatts {
  font-style: italic;
  color: #a7a7a7;
}

.channeltbl-toggle {
  /* display: flex;
  justify-content: center; */

}

.channeltbl-checkbox {
  display: flex;
  justify-content: center;
}

.channeltbl-toggle-icon {
  margin-top: 0.5em;
}

.channeltbl-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.channeltbl-add-btn {
  width: 12.5%;
  color: #1684c9;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  font-size: 0.8em;
  font-weight: lighter;
  padding-top: 5px;
}

.channeltbl-add-btn:focus {
  outline: 0;
}

.channeltbl-table-container {
    display: flex;
}

.channeltbl-deleterun-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.5em;
}

.channeltbl-deleterun-btn {
    border: none;
    color: #1684c9;
    font-size: 0.8em;
}

.channeltbl-deleterun-btn:active {
  border: none;
}

.channeltbl-deleterun-btn:focus {
  border: none;
  outline: 0;
}


/* FINAL BUTTONS */

.submit-quote-btn {
  background-color: #1684c9;
  border: 1px solid #1684c9;
  height: 2.5em;
  color: white;
  margin: 1em 0.5em;
  font-size: 0.8em;
  font-weight: lighter;
  border-radius: 3px;
}

.download-btn {
  border: 1px solid #1684c9;
  padding: 7px;
  font-size: 0.9em;
  color: #1684c9;
  border-radius: 3px;
}
