body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* SECTION TITLE */

.title {
  text-align: left;
}

.title * {
  font-size: 0.8em;
  color: #f47f38;
  font-family: monospace;
}

/* DEFINE JOB */

.jobinfo-container {
  display: flex;
}

.jobinfo-item-label {
  width: 13%;
  text-align: left;
  margin: 5px 0;
}

.jobinfo-item-input {
  margin: 0.5em;
  border: 1px solid #dddddd;
  text-align: left;
  height: 1.5em;
  width: 12em;
}

.jobinfo-item-select {
  margin: 0.5em;
  border: 1px solid #dddddd;
  text-align: left;
  height: 2em;
  width: 12em;
}

/* DEFINE TYPE */
.fixture-type-container {
  margin-top: 0.5em;
  border: 1px solid #f47f38;
  border-radius: 10px;
  padding: 0 1em;
  padding-bottom: 1em;
}


.fixtype-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.fixtype-item-container {
  display: flex;
  flex-direction: column;
  width: 8em;
  margin: 0.2em;
}

.fixtype-item-label {
  text-align: left;
  margin: 5px 0;
}

.fixtype-item-input {
  margin: 0.5em 0;
  border: 1px solid #dddddd;
  text-align: left;
  background-color: #dddddd;
  height: 2em;
}

.partnumber-text {
  text-align: center;
  background-color: #dddddd;
  padding: 0.3em;
  width: 30%;
  margin-left: 35%;
}
